@import "tailwindcss";

:root {
    --background: #f7f7f7;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) { */
/*     :root { */
/*         --background: #121213; */
/*         --foreground: #ededed; */
/*     } */
/* } */

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color: var(--foreground);
    /* background: var(--background); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    overflow: hidden;
}

html,
body,
main {
    height: 100vh;
}

main {
    background-image: radial-gradient(circle at 0 100%, #d8eedc, #fff0 50%),
        radial-gradient(circle at 100% 100%, #e2e1ff, #fff0 50%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    display: none;
}

:-moz-focus-inner {
    border-width: 0px;
}

.loader {
    position: relative;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #fff;
    border: 4px solid #131a1d;
    overflow: hidden;
    animation: fade-in 1s 0s ease-in-out forwards;
}

.loader::after {
    content: "";
    position: absolute;
    left: 0;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #263238;
    z-index: 5;
    border-bottom: 8px solid #131a1d;
    box-sizing: border-box;
    animation: eyeShade 3s infinite;
}

.loader::before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 15px;
    width: 32px;
    z-index: 2;
    height: 32px;
    background: #111;
    border-radius: 50%;
    animation: eyeMove 3s infinite;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes eyeShade {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(5px);
    }

    40%,
    50% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(-8px);
    }

    75% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes eyeMove {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(0px, 5px);
    }

    40%,
    50% {
        transform: translate(0px, -5px);
    }

    60% {
        transform: translate(-10px, -5px);
    }

    75% {
        transform: translate(-20px, 5px);
    }

    100% {
        transform: translate(0, 10px);
    }
}

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
